@import 'fontsStyle.css';
.badge {
    border-radius: 10px;
    padding: 1px 7px !important;
    opacity: 75% !important;
}

.displayNone {
    display: none;
}

.width8 {
    width: 8%;
}

.width10 {
    width: 10%;
}

.width13 {
    width: 12%;
}

.siyahRenk {
    color: black;
}

main .nav-link:hover {
    color: red;
}

.nav-link:hover ul {
    display: block;
}

.fontlar {
    width: 100%;
    height: 20vh;
    margin-bottom: 15px;
}

.lisansYaziBoyutu {
    font-size: 10px;
}

.fontHtmlLink {
    display: inline;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .fontlar {
        width: 100%;
        height: 22vh;
        display: inline-block;
    }
    .fontHtmlLink {
        display: inline;
        width: 45%;
    }
}

@media only screen and (min-width: 992px) {
    .fontHtmlLink {
        display: inline;
        width: 24%;
    }
    .fontlar {
        height: 18vh;
    }
}

.licensingAcilim {
    top: -40vh;
    height: 230px;
    width: 180px;
    display: none;
}

.typeDesignersAcilim {
    height: 105vh;
    top: -108vh;
    display: none;
}


/* all html */

.carouselButton {
    width: 10px!important;
    height: 10px!important;
    padding: 0px!important;
}

.cardBgColor {
    background-color: #fafafa;
}

.cardBorder {
    border: 1px solid #eee;
    border-left: 3px solid black
}

.space {
    margin-right: .25rem !important;
}

.space:first-child {
    margin-left: .5rem !important;
}

.space:last-child {
    margin-right: .5rem !important;
}

.bg-muted {
    background-color: #95a5a6;
}

.outline-0 {
    outline: 0px !important;
}


/* .byFamilyNavLg::-webkit-scrollbar-track {
    border-radius: 10px;
} */