ul,
li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0%;
}

a:hover {
    background-color: aqua;
}

main div ul li a {
    display: inline-block;
}

.col-4 {
    background-color: saddlebrown;
}

footer div div {
    margin-left: 2px;
}