.rounded-circle {
    height: 20px;
    margin-left: 2px;
}

a {
    text-decoration: none !important;
}

.kutu {
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: white;
}

a:hover {
    border-style: solid;
    background-color: purple;
}

.daire {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 8px;
}

.container {
    background-image: url("https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?cs=srgb&dl=pexels-pixabay-260689.jpg&fm=jpg")
}

.bg-warning {
    overflow: hidden;
}

.button {
    border-radius: 50px;
}