 header ul li:first-child {
     border-bottom: 2px black solid;
     border-radius: 2px;
 }
 
 header ul li:not(:first-child):hover {
     border-bottom: 2px #6c757d solid;
     border-radius: 2px;
 }
 
 li a {
     border-right: 2px solid gray;
 }