:root {
    --red-herring: #c00;
    --squid-ink: #212338;
}

#unuttum {
    min-height: 100vh;
}

.text-squid-ink {
    color: var(--squid-ink)!important;
}

.translate-2 {
    transform: translateY(-2px);
}

.message {
    display: none;
    color: var(--red-herring)
}

#unuttum input:focus {
    border: 1px solid #ced4da;
}

#unuttum input:focus+div {
    display: none !important;
}

#unuttum input:invalid {
    border: 1px solid red;
}

#unuttum input:invalid:not(:focus)+div {
    display: block;
}

.text-red-herring {
    color: var(--red-herring)
}

.w-56 {
    width: 56px;
}

.h-56 {
    height: 56px;
}

.fs-15 {
    font-size: 15px;
}

#unuttum a {
    background-color: #134361!important;
}

#unuttum footer {
    background-color: #134361;
    color: #bac1c7;
    padding: 34px 0 32px;
    font-size: 17px
}

#unuttum footer div {
    font-weight: 400;
}