<nav class="nav bg-dark text-white">
    <li class="nav-item">
        <div class="nav-link fw-normal text-white h4"> Start Bootstrap</div>
    </li>

    <ul class="ms-auto nav-item list-inline me-lg-4 order-lg-3">
        <li class="list-inline-item ">
            <form class="d-none d-md-flex input-group">
                <input class="form-control " type="Search for..." placeholder="Search for..." aria-label="Search">
                <button class="btn bg-primary rounded-end" type="submit"><img src="./assets/img/search.svg" alt="" class="svg"></button>
            </form>
        </li>
        <li class="list-inline-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="./assets/img/person-fill.svg" class="svg" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">settings</a></li>
                <li><a class="dropdown-item" href="#">activity log</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">layout</a></li>
            </ul>
        </li>
    </ul>
    <li class="order-lg-2 ms-lg-5 nav-item">
        <div class="nav-link svg sidebarToggle"> <img src="./assets/img/list.svg" alt=""> </div>
    </li>
</nav>