#portfolio .page-section {
    padding: 8rem 0;
}

#portfolio .page-section button {
    border-radius: 40px;
    padding: 20px 36px;
}

#portfolio .slider-img {
    max-width: 93%;
    position: relative;
    z-index: -1;
}

#portfolio .slide-container {
    max-width: 93%;
    margin-left: 3.5%;
}

@media screen and (min-width:768px) {
    #portfolio .slide-container {
        max-width: 650px !important;
        width: 86%;
        margin-left: 7%;
    }
}

@media screen and (min-width:1023px) {
    #portfolio .slide-container {
        max-width: 650px!important;
        margin-left: calc( 50% - 325px) !important;
    }
}

#portfolio .buttons button {
    background-color: transparent;
}

#portfolio .buttons button i {
    font-size: 35px;
}

#portfolio .project-image {
    position: relative;
    z-index: -1;
}

#portfolio .img-hover {
    cursor: pointer;
    transition: 300ms all;
    z-index: 2;
    transform: translateY(-100%);
    overflow: hidden;
    background-color: rgba(133, 128, 127, 0);
    opacity: 0;
}

#portfolio .img-hover:hover {
    background-color: rgba(244, 98, 58, 0.9);
    opacity: 1;
}