#services {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    padding: 8rem 0px;
}

#services header {
    font-size: 24.575px;
}

#services hr {
    color: #f4623a;
    background-color: #f4623a;
}

#services h3 {
    font-size: 21.36px;
    margin-bottom: 8px;
}

#services .col-12 {
    padding: 0 12px;
}

#services .icon {
    margin-bottom: 8px;
}

#services i {
    font-size: 25px;
    color: #f4623a;
}