/* kayan input animasyon */

.field {
    position: relative;
}

.container-box {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 58px;
}

.field textarea {
    border: 0;
    outline: 0;
}

.field textarea:focus {
    border: 0;
    outline: 0;
}

.field .outline {
    outline: 3px solid red
}

.field input {
    line-height: 40px;
    padding: 0 0px;
    font-size: 24px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    transition: 3s all;
}

.field textarea {
    line-height: 40px;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    transition: 3s all;
    overflow-y: hidden;
}

.field label {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 41px;
    font-size: 20px;
    color: #6c757d;
}

span.exclamation {
    display: none;
    width: 15px;
    height: 15px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    margin-right: 10px;
}