@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import "about.css";
@import "animation.css";
@import "portfolio.css";
@import "services.css";
#index header {
    background-image: url('../img/bg-masthead.jpg');
}

hr {
    width: 3.5rem;
    margin: 24px auto;
    height: 5px;
    opacity: 1;
}

.times {
    color: #f8f9fa;
}

.times:hover {
    color: #6c757d;
}

#contact i {
    font-size: 10px;
    margin: 0px;
}

#contact i::before {
    position: relative;
    top: -8px;
}

#contact hr {
    color: #f4623a;
    height: 3.5px;
}