@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import "about.css";
@import "animation.css";
@import "portfolio.css";
@import "services.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
#index header {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
    height: 100vh;
    max-height: 100vh;
}

hr {
    width: 3.5rem;
    margin: 24px auto;
    height: 5px;
    opacity: 1;
}

#index {
    font-family: 'Merriweather Sans', sans-serif;
}

#index hr {
    background-color: #f4623a;
    height: 3px;
}

#index button {
    background-color: #f4623a;
    border-radius: 40px;
    padding: 20px 36px;
    border: 0px;
    text-transform: uppercase;
}

#index p {
    max-width: 700px;
}

#index header {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
}

#index iframe {
    width: 100% !important;
    overflow-y: visible !important;
    height: fit-content;
}


/* 
#index h3 {
    font-weight: 500;
    font-size: 2.25rem !important;
} */

.times {
    color: #f8f9fa;
}

.times:hover {
    color: #6c757d;
}

#contact i {
    font-size: 10px;
    margin: 0px;
}

#contact i::before {
    position: relative;
    top: -8px;
}

#contact hr {
    color: #f4623a;
    height: 3.5px;
}

#contact button.col-12 {
    border-radius: 40px;
    background-color: #f4623a;
}

#contact .icon-mobile {
    color: #6c757d;
    font-size: 40px;
}

#contact footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

@media screen and (min-width:767px) {
    #contact p {
        width: 672px
    }
    .field {
        width: 672px
    }
    #contact .col-11:last-child {
        width: 672px
    }
}