.badge {
    border-radius: 10px;
    padding: 1px 7px !important;
    opacity: 75% !important;
}

.displayNone {
    display: none;
}

.siyahRenk {
    color: black;
}

main .nav-link:hover {
    color: red;
}