.badge {
    border-radius: 10px;
    padding: 1px 7px !important;
    opacity: 75% !important;
}

.displayNone {
    display: none;
}

.width8 {
    width: 8%;
}

.width10 {
    width: 10%;
}

.width13 {
    width: 12%;
}

.siyahRenk {
    color: black;
}

main .nav-link:hover {
    color: red;
}

.nav-link:hover ul {
    display: block;
}