body {
    cursor: none;
    max-height: 100vh;
}


/* @media screen and (max-width:1023px) { 
    .display1 {
        font-size: 400%;
        line-height: 80%;
    }
}*/


/* body { 
        background: url("../img/orientation_screen.jpg") no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    header {
        visibility: hidden;
    }
    main {
        visibility: hidden;
    }
    footer { */


/* visibility: hidden;
    }
}

@media screen and (max-width:328px) {
    ul li a {
        font-size: 200%;
        font-weight: 900;
        line-height: 5vh;
    }
}

@media screen and (max-width:1024px) {
    ul li a {
        font-size: 300%;
        line-height: 15vh;
    }
} */