/* body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    min-height: 100vh;
} */

body {
    text-decoration: none;
    color: black;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: inline-block;
    margin: 0px 0;
    text-decoration: none;
    color: #fff;
    transition: 0.2s all;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: none;
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    line-height: 10px;
    align-content: center;
}

ul li:hover~.cursor {
    transform: scale(6);
    border-width: 1px;
}

ul li:hover a {
    font-weight: normal;
    transition: 0.1s all;
}