:root {
    --red_herring: #c00;
    --squid_ink: #212338;
}

.text-squid-ink {
    color: var(--squid-ink)!important;
}

.translate-2 {
    transform: translateY(-2px);
}

.message {
    display: none;
    color: var(--red_herring)
}

#forgot input:focus {
    border: 1px solid #ced4da;
}

#forgot input:focus+div {
    display: none !important;
}

#forgot input:invalid {
    border: 1px solid red;
}

#forgot input:invalid:not(:focus)+div {
    display: block;
}

.text-red-herring {
    color: var(--red_herring)
}

.w-56 {
    width: 56px;
}

.h-56 {
    height: 56px;
}

.fs-15 {
    font-size: 15px;
}

#forgot a {
    background-color: var( --bg_brand_secondary)!important;
}

#forgot footer {
    color: #bac1c7;
    padding: 34px 0 32px;
    font-size: 17px
}

#forgot footer div {
    font-weight: 400;
}