#kampaHazirlik .nav-link {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

@media screen and (min-width:1300px) {
    #kampaHazirlik .px-xl-5rem {
        padding-left: 5.25rem !important;
        padding-right: 5.25rem !important;
    }
}


/* 
@media screen and (max-width:1400px) {
    .d-flex {
        justify-content: space-between !important;
    }
} */

#kampaHazirlik .nav-link:hover {
    background-color: #134361;
    text-decoration: underline;
}