:root {
    --squid_ink: #212338;
}

.bg-brand-secondary {
    background-color: var(--bg_brand_secondary) !important
}

header img {
    height: 55px;
}

header a.navbar-brand {
    padding: 0px !important;
}

.mh-60 {
    height: 60px !important;
    max-height: 60px !important;
}

#login .fs-28 {
    font-size: 28px !important;
}

#login .b-0 {
    border-width: 0px;
}

@media screen and (min-width:1024px) {
    #login .b-lg-1 {
        border-width: 1px !important;
    }
}

#login input#inlineCheckChecked {
    width: 13px;
    height: 13px;
}

.fs-14px {
    font-size: 14px;
}

#login .fs-15px {
    font-size: 15px;
}

#login .labelDark {
    color: #222;
}

#login .forgot {
    color: var(--bg_brand_secondary);
}

.bg-purple {
    background-color: var(--bg_brand_secondary);
}

.text-purple {
    color: var(--bg_brand_secondary);
}

.text-squid-ink {
    color: var(--squid_ink);
}

.bg-squid-ink {
    background-color: var(--squid_ink);
}

.bg-purple:hover {
    background-color: #0f344c !important;
}

#login .fw-600 {
    font-weight: 600;
}

#login .border-nantucked {
    border: 1px solid #b0b0b0
}

#login .text-irontucked {
    color: #494949;
}

#login span.rounded-circle.bg-danger {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 18px;
}

#login .rounded-circle img {
    width: 20px;
}

#login footer {
    color: #bac1c7;
    padding: 34px 0 32px;
    font-size: 17px
}

#login footer div {
    font-weight: 400;
}

#login span.yıl {
    font-size: 15px;
}

#login .btn {
    cursor: auto;
}

.border-irontucked {
    border: 1px solid #494949;
}

#login input {
    border: 0
}

#login input:not(:focus):valid {
    border: 1px solid red !important;
}

#login .translate-y-110 {
    transform: translateY(-110%)!important;
}

footer .container {
    justify-content: center!important;
}