.svg {
    width: 20px;
}

body {
    height: 100vh;
    width: 100%;
}

span {
    transition: 300ms all;
}

.card-header.py-2rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

span.active {
    transform: rotate(90deg);
}

.sidebar {
    position: block;
}

@media screen and (max-width:1023px) {
    .sidebar {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
}

.sidebar {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100% - 56px);
}

.sidebar {
    display: none;
    overflow-y: hidden;
}

.sidebar.active {
    display: block;
}

.sidebar .bg-dark a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.sidebar .bg-light a,
.sidebar .bg-light li {
    text-decoration: none !important;
    color: black !important;
}

.sidebar>ul {
    width: 0rem;
    height: 100vh;
}

ul.linkGroup {
    display: none;
}

ul.linkGroup.active {
    display: block;
}

.field label {
    top: 0;
    left: 0;
    transition: 300ms all;
    position: absolute;
    margin-left: 10px;
    line-height: 51px;
}

.field {
    position: relative;
}

.field input:valid+label {
    font-size: 14px;
    opacity: 0.65;
    line-height: 20px;
}

.field input:focus+label {
    line-height: 20px;
    font-size: 14px;
    opacity: 0.65;
}

.footer {
    align-self: flex-end;
    width: 100%;
    bottom: 0;
    z-index: -1;
    position: absolute;
    align-self: flex-end !important;
}

.fw-600 {
    font-weight: 600;
}

label:last-child {
    opacity: 1 !important;
    margin-top: 12px !important;
}

.errorPage img {
    width: 326px;
    height: 320px;
}