:root {
    --seaGreen: #64a19d;
}

.bg-seaGreen {
    background-color: var(--seaGreen);
}

.nav-link {
    color: rgba(0, 0, 0, .55)
}


/* outline sıfırlama */

.navbar-toggler {
    border: 1px solid var(--seaGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--seaGreen);
    box-shadow: var(--seaGreen);
}


/* times kapama işareti basladi */

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.w-30 {
    width: 20px;
    display: flex;
    flex-direction: column;
}

.h-3 {
    height: 3px;
    margin-bottom: 3px;
}

.h3-last-child {
    margin: 0;
}

body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


/* times bitti */

.py-10 {
    padding: 10rem 0;
}

header {
    /* background: url("../img/bg-masthead.jpg") center center no-repeat; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/bg-masthead.jpg");
}


/* 
@media screen and (max-width:321px) {
    nav {
        max-width: calc(100% - 12px);
    }
} */

header p {
    /* max-width: 296px; */
}

header h3 {
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    /* color: transparent; */
    letter-spacing: .8rem;
}

.navbar {
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    color: black
}

@media screen and (min-width:767px) {
    header p {
        width: 296px;
    }
}

@media screen and (min-width:1024px) {
    header p {
        width: 350px;
    }
    .text-lg-muted,
    .nav-item .nav-link {
        color: rgba(255, 255, 255, .5)
    }
    .navbar {
        background-color: transparent;
    }
    .nav-link {
        margin-bottom: -5px;
    }
}

header button.btn {
    background-color: var(--seaGreen);
    color: white;
    padding: 16px 20px;
    letter-spacing: 4px;
    border: 0px;
}

#about p span a {
    color: var(--seaGreen);
    text-decoration-color: var(--seaGreen);
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* 
* {
    outline: 1px solid red;
} */