.svg {
    width: 20px;
}

body {
    height: 100vh;
}

span {
    transition: 300ms all;
}


/* ul {
    transition: 1000ms all;
} */

span.active {
    transform: rotate(90deg);
}

.sidebar {
    position: block;
}

@media screen and (max-width:1023px) {
    .sidebar {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
}


/* .sidebar .layout ul {
    display: none;
}

.sidebar .layout ul.active {
    display: block;
} */

.sidebar {
    display: none;
}

.sidebar.active {
    display: block;
}

.sidebar .bg-dark a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.sidebar .bg-light a,
.sidebar .bg-light li {
    text-decoration: none !important;
    color: black !important;
}

.sidebar>ul {
    width: 0rem;
    height: 100vh;
}

ul.linkGroup {
    display: none;
}

ul.linkGroup.active {
    display: block;
}