:root {
    --nan_tucked: "#b0b0b0";
}

#next {
    min-height: 110vh;
    position: relative;
}

.py-5rem {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#next main .container {
    display: grid;
    place-content: center;
    place-items: center;
}

#next .fs-12 {
    font-size: 12px !important;
}

.border-nantucked {
    border: 1px solid var(--nan_tucked) !important;
}

.border-1px {
    border-width: 1px !important;
}

#next footer,
#sign_up footer {
    color: #bac1c7;
    padding: 34px 0 32px;
    font-size: 17px
}

#next footer div,
#sign_up footer div {
    font-weight: 400;
}