@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap');
:root {
    --brand_text: #3F3A3A;
    --brand_navbar_text: #FFFFFF;
    --bright_grey: #36414d;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--bright_grey);
}

header {
    background-color: var( --bg_brand_secondary);
}

.w-20 {
    width: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.mt-33px {
    margin-top: 33px;
}

.mt-44px {
    margin-top: 44px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-44px {
    margin-top: 44px;
}

.ps-20px {
    padding-left: 20px;
}

.my-3px {
    margin: 3px 0;
}

@media screen and (min-width:767px) {
    .pe-md-20 {
        padding-right: 20px;
    }
}

.align div {
    height: 2px;
    background-color: white;
}

ul.dropdown-menu {
    width: 200px;
}

.dropdown-toggle-split::after {
    width: 0px;
    display: none;
}

.w-full {
    width: calc(100% - 80px);
}

.mw-960px {
    width: 100%;
    max-width: 960px;
}

.mw-590px {
    max-width: 590px;
}

header a {
    color: var(--brand_text) !important;
}

header a:hover {
    text-decoration: underline;
}

.nav-item a {
    color: var(--brand_navbar_text) !important;
}

.fw-800 {
    font-weight: 800;
}

footer img.img-fluid {
    height: 15px;
}

.fs-40px {
    font-size: 40px;
}