                body {
                    background-color: #f9c5d1;
                    padding: 0%;
                    height: 100vh;
                }
                
                .kalinKenarlik {
                    border-radius: 0% !important;
                    border-color: #2d325b !important;
                    color: #2d325b !important;
                    border: 2px solid;
                }
                
                .inceKenarlik {
                    border: 1px solid;
                    border-color: #2d325b !important;
                }
                
                .morRenk {
                    color: #2d325b !important;
                }
                
                .turuncuRenk {
                    background-color: #f66d6d;
                }
                /* baslik dugme animasyonlari gelecek */
                
                .dugmeAnimasyon {}
                /* kucuk ve orta cihaz tanitim font boyutu icin */
                /* en kucuk cihaz anasayfa font */