* {
    margin: 0px;
}

#sayfa {
    width: 50%;
    height: 700px;
    background-color: red;
    margin-left: 25%;
}

.logo {
    width: 100%;
    height: 30px;
    font-size: 30px;
    background-color: white;
    padding: 10px 15px;
}

span {
    font-weight: bold;
}

.navigation {
    background-color: purple;
    width: 100%;
    height: 39px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

ul a li {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    background-color: blue;
}

ul a {
    text-decoration: none;
}

ul a:last-child li {
    float: right;
    color: rgb(12, 12, 61);
    background-color: white;
    height: 25px;
    border-radius: 25px;
    width: 25px;
    padding: 0px;
    text-align: center;
    margin-top: 5px;
}

.daire {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    color: white;
}

.header-image {
    width: 100%;
    height: 170px;
    background-color: rgb(255, 165, 0);
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    color: white;
    margin-bottom: 5px;
}

.button {
    margin-left: 270px;
}

nav div:last-child {
    margin-bottom: 10px;
}

.tanitim {
    width: 30%;
    height: 100px;
    float: left;
    border: 2px solid;
    overflow: hidden;
}

main div :not(:first-child) {
    margin-left: 4.1%;
}

.product-daire {
    display: inline-block;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: rgb(102, 101, 101);
}

main div .content {
    margin: 0% !important;
    width: 75%;
    height: 50px;
    overflow: hidden;
    float: left;
}

main div ul {
    padding: 10px;
    display: block;
}

main div ul li {
    width: 90px;
}

h1 {
    margin-left: 40%;
}

footer ul li {
    margin-top: 10px;
    display: inline-block;
    padding: 30px;
    margin-left: 1%;
}

footer ul li:nth-child(n+1) {
    background-color: orange;
}

footer ul li:nth-child(n+2) {
    background-color: red;
}

footer ul li:nth-child(n+3) {
    background-color: blue;
}

footer ul li:nth-child(n+4) {
    background-color: green;
}